* {
  margin: 0;
  padding: 0;
}
/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* RESET */
html,
body,
figure,
div,
input,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul 
{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  list-style: none;
}
/* BODY */
body {
  background-color: #f6f6f6;
  height: 100%;
}
/* HEADER */
.container-header {
  background-color: #fff159;
}
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0px 42px 0px 42px;
}
.content-header img {
  width: 120px;
}
.content-header nav ul li {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  background-color: transparent;
}
.content-header nav ul li a {
  font-style: normal;
  font-weight: 400;
  color: #736c28;
  text-decoration: none;
  padding: 1px 0px 1px 17px;
  border: none;
  font-size: 14px;
  line-height: 55px;

}
.content-header nav ul li a:hover {
  color:#000000;
  /* -webkit-text-stroke: 1px #000000; */
  cursor: pointer;
}
/* MAIN */
.container-main{
  display: flex;
  align-self:center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.main-section {
  padding: 15px 35px 15px 35px;
}
.products-content ul{
  display: flex;
  flex-direction: row;
flex-wrap: wrap;
 
}
.products-content ul li{
  margin: 5px 10px 5px 10px;
}
.product ul img{
  text-align: center;
}
.product {
  width: 244px;
  height: 340px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 40px -20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  outline: none;
  transition:  0.1s ease-out;
  cursor: pointer;
  
}
/* .product:hover {
  box-shadow: 0px 4px 40px -10px rgba(0, 0, 0, 0.25);
  height: 330px;
} */
/* .product:focus { 
  border-radius: 10px;
  width: 80%;
  transition: width 1s ease-in;
  color: #000000;
} */
.product .product-img {
  width: 100%;
  height: 154px;
  margin: 0;
}
.product .img-background {
  width: 100%;
  height: 184px;
  text-align: center;
  background-color: white;
  border: none;
  overflow: hidden;
  border-radius: 10px;
  }
  .img-background img {
      max-width: 100%;
  }
/* SEARCH */
aside {
  padding: 0px 35px 0px 0px;
}
.remove {
  display: none;
}
.search {
  display:flex;
  justify-content:space-between;
  width: 500px;
}
.search input { 
  box-sizing: border-box;
  width: 558px;
  height: 39px;
  background-color: rgb(255, 255, 255);
  border: none;
  outline: 0;
  padding: 7px 60px 9px 15px;
  color: #979797;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  border: 0 rgba(0,0,0,.2);
  border-radius: 2px;
}
.search input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  width: 10px; 
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.search .fa-search {
  width: 50px;
  background-color: rgb(255, 255, 255);
  color: #979797;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  border: none;
  box-sizing: border-box;
  height: 39px;
  margin: 0;
  border: 0 rgba(0,0,0,.2);
  border-radius: 2px;
}
.search .button :before{
  content: '';
  padding: 5px;
  height: 40px;
  border-left: 1px solid #e6e6e6;
}
.search .button fa fa-search:before{
  content: '';
  padding: 5px;
  height: 40px;
  border-left: 1px solid #e6e6e6;
}
.search .button:hover{
  cursor: pointer;
}
.search input:hover{
  cursor: text;
}
.search .button fa fa-search:hover{
  
  cursor: pointer;
}
.list-empty {
  display: flex;
  justify-content: center;
}
.empty-main {
width: 100%;
background-color: #fff;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 50px;
border-radius: 10px;
}
.empty-title {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #000000;
  padding: 0px 40px 30px 40px;
}
.text-empty {
  background-color: #ffffff;
  color: #000000;
  padding: 2px 20px 5px 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
.empty-img {
  background-color: #fff;
  width: 150px;
}
.negrito-empty {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  color: #000000;
}
/* PRODUCT */
.product .product-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;
}
.product .product-title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  padding-left: 16px;
}
.product .product-main:before{
  content: '';
  display: block;
  height: 1px;
  border-left: 244px solid #e6e6e6;
 padding: 0;
 margin: 0;

}
.product .product-category {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
color: #00a650;;
padding-left: 16px;
padding-right: 16px;
}
.italic {
  font-style: oblique;
  font-weight: 900;
  font-size: 14px;
  color: #00a650;
}
.product .product-price {
  width: 269px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 16px;
  color:#000000;
  padding-left: 16px;
  padding-right: 16px;
}
.product-button-add {
  padding-right: 16px ;
  padding-bottom: 50px;
  color: #979797;
  background-color: transparent;
  border:none;
  height: 50px;
}
.product-button-add:hover {
  cursor: pointer;
}
.title-card {
  display: flex;
  justify-content: space-between;
}
.finish {
  background-color: #3483fa;
  border-color: transparent;
  box-sizing: content-box;
  border-radius: 10px;
  color: #fff;
  width: 347px;
  height: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: none;
  
}
.finish {
  cursor: pointer;
}
/* SHOPPIMG CART */
.cart-title {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 347px;
  height: 50px;
  background-color: rgb(255, 255, 92);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #736c28;
  margin-top: 42px;
  padding-left: 16px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.cart {
  width: 333px;
  height: 362px;
  background-color: #ffffff;
  text-align: center;
  overflow-y: scroll;
  padding: 0px 0px 0px 14px;
  

}
.cart::-webkit-scrollbar {
  width: 7px;
  height: 107px;
}
.cart::-webkit-scrollbar-track {
  background-color: white;

}
.cart::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 2px;          
}
.car-quanty-main {
  width: 345px;
  height: 126px;
}
.car-quanty-table {
  width: 347px;
  height: 126px;
  background-color: #ffffff;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-bottom: 10px;
}
.car-quanty-table:before{
  content: '';
  display: block;
  height: 1px;
  border-left: 347px solid #e6e6e6;
  padding: 0;
}
.car-quanty {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: black;
  padding: 26px 24px 13px 14px;
}
.car-quanty span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: black;
}
.car-price {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: black;
  padding: 13px 24px 26px 14px;
}
.car-price span{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: black;
}
.car-empty{
padding-top: 140px;
color: black;
}
.car-add{
  color: black;
}
/* CART-CARD */
.cart-card {
  display: flex;
  justify-content:flex-start;
  width: 300px;
  height: 92px;
  padding: 15px 0px 15px 0px;
}
.cart-card img {
  background-color: white;
  margin: 0px 18px 0px 0px;
  height: 92px;
}
.cart-card section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.cart-card-title {
  width: 150px;
  height: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: black;
  text-align: start;

}
.cart-card-price {
  width: 70px;
  height: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color:#000000;
  margin: 7px 0px 7px 0px;
  text-align: start;
}
.camada1-cart {
display: flex;
justify-content: space-between;

}
.camada2-cart {
  display: inline-flex;
  flex-direction: row;
}
.length-cart {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 2px 10px 2px 10px;
  border-radius: 30px;
}
.cart-card-button-sub {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #3483fa;
  background: transparent;
  border: none;
}
.cart-card-button-sub {
  cursor: pointer;
}
.cart-card-button-add:hover {
  cursor: pointer;
}
.cart-card-button-add {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #3483fa;
  background: transparent;
  border: none;
  padding-top: 5.9px;
}
.cart-card-button-remove {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background: transparent;
  border: none;
  cursor: pointer;
  
}
.cart-card-button-remove:hover {
  cursor: pointer;
  color:#000000;
}

/* FOOTER */
.container-footer {
  width: 100%;
  color: black;
  box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
  background-color: white; 
}
.content-footer {
  display: flex;
  justify-content: space-between;
  background-color:white;
  color: #999;
  padding: 30px 42px 0px 42px;
}
.section-footer li {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  letter-spacing: 2px;
  list-style: none;
  padding: 9px 0;
}
.section-footer h2 {
 font-style: normal;
 font-weight: 700;
 font-size: 14px;
 line-height: 24px;
 color: black;
}
.section-footer h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: black;
  padding: 1px 0;
}
.section-footer li a {
  text-decoration: none;
  color: #999;
}
.section-footer li a:hover {
  color: #999;
}
.section-footer li a  {
  margin: 3px;
}
.copyright-footer {
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
  width: 100%;
  background-color:white;
  color: #999;
}
.copyright-footer figure {
  margin: 0;
  padding: 0;
}
.copyright-footer figure img {
  width: 100px;
}
.copyright-footer span {
  color: black;
  font-size: 14px;  
}
.copyright-footer  p {
  padding-left: 35px;    
}
